.*.sw?
*.o

CMakeCache.txt
CMakeFiles
cmake_install.cmake

/build
/src/lib/Box2D/Source/Gen
/src/lib/physfs-2.0.0/Makefile
/src/lib/physfs-2.0.0/*.a
/src/lib/physfs-2.0.0/*.so*
/src/lib/physfs-2.0.0/test_physfs

/src/lib/SDL_net-1.2.8/local
/src/lib/SDL_net-1.2.8/libSDL_net.la
/src/lib/SDL_net-1.2.8/so_locations
/src/lib/SDL_net-1.2.8/.libs
/src/lib/SDL_net-1.2.8/_libs
/src/lib/SDL_net-1.2.8/showinterfaces
/src/lib/SDL_net-1.2.8/*.o
/src/lib/SDL_net-1.2.8/*.lo

/src/lib/SDL_net-1.2.8/.deps/
/src/lib/SDL_net-1.2.8/Makefile
/src/lib/SDL_net-1.2.8/SDL_net.pc
/src/lib/SDL_net-1.2.8/SDL_net.qpg
/src/lib/SDL_net-1.2.8/config.log
/src/lib/SDL_net-1.2.8/config.status
/src/lib/SDL_net-1.2.8/libtool
